.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.form-data{
  width: 100%;

}

.input-box{
  position: relative;
  height: 2em;
  width: 40%;
  font-size: 20px;
  padding-left: 1%;
}

.btn{
  position: relative;
  margin-top: 20px;
  height: 40px;
  width: 20%;
  font-size: 15px;
}

.graph-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
